* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--brand-color);
  color: white;
}

body {
  font-family: Poppins, sans-serif;
  background: var(--base-color);
  color: var(--text-color);
  display: flex;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-bottom: 1rem;
}

button,
input,
textarea {
  font: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}

.content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
} */

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.primary-btn {
  background-color: var(--brand-color);
  color: white;
}

.primary-btn:hover {
  background: var(--brand-color-hover);
}

.secondary-btn {
  background: var(--base-color);
  color: var(--text-color);
}

.secondary-btn:hover {
  background: var(--base-color-hover);
  color: var(--text-color);
}
