* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--brand-color);
  color: white;
}

body {
  font-family: Poppins, sans-serif;
  background: var(--base-color);
  color: var(--text-color);
  display: flex;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-bottom: 1rem;
}

button,
input,
textarea {
  font: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
}

main {
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
